# Core API Keys
OPENAI_API_KEY=your_openai_api_key_here
SERPER_API_KEY=your_serper_api_key_here

# Streamlit App Access Protection
APP_PASSWORD=your_secure_streamlit_password

# Guardrails & API Usage Limits
MAX_RPM=10
MAX_EXECUTION_TIME=120
MAX_ITER=3

# Google Sheets Configuration
GOOGLE_SHEETS_CREDS_FILE=your-google-credential.json
GOOGLE_SHEET_NAME=your-google-sheets-name

#PDF Path
PDF_PATH = "IIA HR Policy.pdf" #Your PDF Path with PDF name

#LLM Model
CHAT_PROVIDER="openai" #Your Chat and Embedding model provider
CHAT_MODEL="gpt-4o-mini" #Your Chat model for LLM
EMBED_MODEL="text-embedding-3-small" #Your Embedding model